<VirtualHost *:{{ wp_port }}>
    ServerAdmin webmaster@localhost
    ServerName {{ wp_host }}
    ServerAlias www.{{ wp_host }}
    DocumentRoot /var/www/{{ wp_host }}
    ErrorLog {{ apache_log_dir }}/error.log
    CustomLog {{ apache_log_dir }}/access.log combined

    <Directory /var/www/{{ wp_host }}>
          Options -Indexes
          AllowOverride All
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
    </IfModule>

</VirtualHost>